*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #123;
    color: white;
    font-family: sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
/* head section ***************************************************/
.head{
    text-align: center;
    padding: 10px;
}
p{
    letter-spacing: 3px;
}

/* inputs section ***************************************************/
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: rgb(55, 77, 100);
    margin: 4px 0;
    padding: 4px;
    color: #fff;
    transition: .3s;
}

input:focus{
    background-color: rgb(19, 16, 39);
    transform: scale(1.1);
}

.price input{
    width: 20%;
}
#total{
    background-color:red;
    padding: 5px 2px;
    margin: 4px;
}

#total::before{
    content: "Total: ";
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 89, 179);
    color: #fff ;
    border-radius: 50px;
    transition: .5s;
}
button:hover{
    background-color: rgb(2, 129, 255) ;
    letter-spacing: 2px;
}

/* output section ***************************************************/
.btnSearch{
    display: none;
    justify-content: space-between;
}
.btnSearch button{
    width:45%;
}
#deleteAll{
    padding: 10px;
    margin: 10px 0;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}
h2{
animation: x 3s infinite;
}
span{
animation: cy 5s infinite;
}

@keyframes x {
    0%{
    
    }
    10%{letter-spacing: 10px;}
    20%{letter-spacing: 15px;}
    30%{letter-spacing: 20px;}
    40%{letter-spacing: 25px;}
    50%{letter-spacing: 30px;}
    60%{letter-spacing: 35px;}
    70%{letter-spacing: 40px;}
    80%{letter-spacing: 45px;}
    90%{letter-spacing: 50px;}
    100%{letter-spacing: 55px;}
}
@keyframes cy {
    0%{
    
    }
    10%{color: red;}
    20%{color: rgb(85, 66, 66);}
    30%{color: rgb(57, 9, 9);}
    40%{color: rgb(94, 255, 0);}
    50%{color: rgb(166, 255, 0);}
    60%{color: rgb(183, 255, 0);}
    70%{color: rgb(246, 255, 0);}
    80%{color: rgb(255, 115, 0);}
    90%{color: rgb(255, 208, 0);}
    100%{color: rgb(224, 116, 116);}
}